# Join Statements

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
#Your code here
import sqlite3
import pandas as pd

conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

## Display the names of all the employees in Boston.

In [2]:
#Your code here
cur.execute("""select firstName, lastName from employees 
                        join offices
                        using(officeCode) where city = 'Boston'
                        ;
                       """).fetchall()

[('Julie', 'Firrelli'), ('Steve', 'Patterson')]

## Do any offices have no employees?

In [14]:
#Your code here
cur.execute("""select officeNumber from offices 
                        left join employees
                        using(officeCode) where employeeNumber IS NULL
                        ;
                       """).fetchall()

[]

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary
#1. name and price of the products with the top 10 largest orders
#2. what is the status of orders from Massachusetts?
#3. description of product line with the highest MSRP

In [16]:
# Your code here
cur.execute("""SELECT productName, priceEach amount FROM products 
                        JOIN orderdetails
                        USING(productCode) ORDER BY quantityOrdered DESC LIMIT 10
                        ;
                       """).fetchall()

[('1969 Dodge Charger', '115.16'),
 ('1969 Dodge Super Bee', '67.54'),
 ('America West Airlines B757-200', '98.72'),
 ('1970 Plymouth Hemi Cuda', '67.03'),
 ('F/A 18 Hornet 1/72', '73.60'),
 ('1917 Grand Touring Sedan', '141.10'),
 ('1949 Jaguar XK 120', '81.78'),
 ('1956 Porsche 356A Coupe', '127.79'),
 ('1962 Volkswagen Microbus', '109.90'),
 ('1956 Porsche 356A Coupe', '112.34')]

In [26]:
# Your code here
cur.execute("""SELECT status FROM customers JOIN orders USING(customerNumber) where state == 'MA'
                       
                        ;
                       """).fetchall()

[('Shipped',),
 ('Shipped',),
 ('Shipped',),
 ('Shipped',),
 ('Shipped',),
 ('Shipped',),
 ('Shipped',),
 ('Shipped',),
 ('Shipped',),
 ('Shipped',),
 ('Shipped',),
 ('Shipped',),
 ('On Hold',),
 ('Shipped',),
 ('Shipped',),
 ('Shipped',),
 ('Shipped',),
 ('Shipped',),
 ('Shipped',),
 ('Shipped',),
 ('Shipped',),
 ('Shipped',),
 ('Shipped',)]

In [29]:
# Your code here
cur.execute("""SELECT textDescription amount FROM productlines 
                        JOIN products
                        USING(productLine) ORDER BY MSRP DESC LIMIT 1
                        ;
                       """).fetchall()

[('Our motorcycles are state of the art replicas of classic as well as contemporary motorcycle legends such as Harley Davidson, Ducati and Vespa. Models contain stunning details such as official logos, rotating wheels, working kickstand, front suspension, gear-shift lever, footbrake lever, and drive chain. Materials used include diecast and plastic. The models range in size from 1:10 to 1:50 scale and include numerous limited edition and several out-of-production vehicles. All models come fully assembled and ready for display in the home or office. Most include a certificate of authenticity.',)]

## Level Up: Display the names of each product each employee has sold.

In [30]:
# Your code here

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!